<template name="masterLayout">
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">League Wins Pool</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a class="hidden-xs" href="{{pathFor 'poolsNew'}}">New Pool</a>
            <a class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" href="{{pathFor 'poolsNew'}}">New Pool</a>
          </li>
          {{> poolsMenu}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    {{> Template.dynamic template=content}}
  </div>
</template>
