<template name="poolsShowPickQuality">
  {{#if Template.subscriptionsReady}}
    <h4 class="poolsShowPickQuality">Best Pick Quality</h4>

    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Player</th>
          <th>Team</th>
          <th>Quality</th>
          <th>Wins</th>
          <th>Expected</th>
        </tr>
        </thead>
        <tbody>
        {{#each poolTeamPick in poolTeamPicks}}
          <tr id="{{poolTeamPick._id}}">
            <td>{{playerName poolTeamPick}}</td>
            <td>{{leagueTeamName poolTeamPick.leagueTeamId}} (#{{poolTeamPick.pickNumber}})</td>
            <td>{{roundedPickQuality poolTeamPick.pickQuality}}</td>
            <td>{{poolTeamPick.actualWins}}</td>
            <td>{{roundedPickQuality poolTeamPick.expectedWins}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
    <br/>
  {{/if}}
</template>
