<template name="poolsShowWins">
  <h3 class="poolsShow">Leaderboard</h3>

  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Player</th>
        <th>Teams</th>
        <th>Wins</th>
        <th>Games</th>
        <th>+/-</th>
      </tr>
      </thead>
      <tbody>
      {{#each poolTeam in poolTeams}}
        <tr id="{{poolTeam._id}}">
          <td>
            {{#if editAllowed poolTeam}}
              <a href="{{pathFor 'poolTeamsShow' poolId=poolId poolTeamId=poolTeam._id}}">{{poolTeam.userTeamName}}</a>
            {{else}}
              {{poolTeam.userTeamName}}
            {{/if}}
          </td>
          <td>{{poolTeam.teamSummary}}</td>
          <td>{{poolTeam.totalWins}}</td>
          <td>{{poolTeam.totalGames}}</td>
          <td>{{poolTeam.totalPlusMinus}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  <br/>
</template>
