{
  "extends": [
    "airbnb",
    "plugin:meteor/recommended",
    "@meteorjs/eslint-config-meteor"
  ],
  "env": {
    "browser": true,
    "meteor": true,
    "mocha": true,
    "node": true
  },
  "plugins": [
    "meteor",
    "chai-friendly"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "globals": {
    "throwError": false,
    "handleError": false
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-unused-vars": ["error", { "args": "none" }],
    "no-unused-expressions": 0, // for chai
    "chai-friendly/no-unused-expressions": 2,
    "meteor/template-names": [2, "snake-case"],
    "max-len": ["error", 130]
  },
  "settings": {
    "import/resolver": "meteor"
  }
}
