{
  "extends": [
    "airbnb",
    "plugin:meteor/recommended"
  ],
  "env": {
    "browser": true,
    "jasmine": true,
    "meteor": true,
    "mocha": true,
    "node": true
  },
  "plugins": [
    "meteor"
  ],
  "globals": {
    "throwError": false,
    "handleError": false
  },
  "rules": {
    "no-underscore-dangle": "off",
    "max-len": ["error", 110],
    "meteor/eventmap-params": [
      "error",
      {
        "eventParamName": "event",
        "templateInstanceParamName": "instance"
      }
    ],
    "meteor/template-names": [
      "off"
    ]
  },
  "settings": {
    "import/resolver": {
      "meteor": {
        "moduleDirectory": [
          "node_modules",
          "app",
        ]
      }
    }
  }
}
