{
  "extends": [
    "airbnb",
    "plugin:meteor/recommended"
  ],
  "env": {
    "browser": true,
    "jasmine": true,
    "meteor": true,
    "mocha": true,
    "node": true
  },
  "plugins": [
    "meteor"
  ],
  "rules": {
    "no-underscore-dangle": "off",
    "meteor/eventmap-params": [
      "error",
      {
        "eventParamName": "event",
        "templateInstanceParamName": "instance"
      }
    ],
    "meteor/template-names": [
      "off"
    ]
  },
  "settings": {
    "import/resolver": "meteor"
  }
}
