<template name="poolsShowPickQuality">
  {{#if Template.subscriptionsReady}}
    <h4 class="poolsShowPickQuality">{{tableTitle}}</h4>

    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th class="col-xs-3">Player</th>
          <th class="col-xs-3">Team</th>
          <th class="col-xs-2">Quality</th>
          <th class="col-xs-2">Wins</th>
          <th class="col-xs-2">Expected</th>
        </tr>
        </thead>
        <tbody>
        {{#each poolTeamPick in poolTeamPicks}}
          <tr id="{{poolTeamPick._id}}">
            <td>
              <a href="{{pathFor 'poolTeamsShow' poolId=poolId poolTeamId=poolTeamPick.poolTeamId}}">{{playerName poolTeamPick}}</a>
            </td>
            <td>{{leagueTeamName poolTeamPick.leagueTeamId}} #{{poolTeamPick.pickNumber}}</td>
            <td>{{roundedPickQuality poolTeamPick.pickQuality}}</td>
            <td>{{poolTeamPick.actualWins}}</td>
            <td>{{roundedPickQuality poolTeamPick.expectedWins}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
    <br/>
  {{/if}}
</template>
