<template name="App_body">
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Wins League</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {{> Pools_menu}}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="{{ActiveRoute.isActiveRoute 'Pools.new'}}">
              <a class="hidden-xs" href="{{pathFor 'Pools.new'}}"><b>Create Pool</b></a>
              <a class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" href="{{pathFor 'Pools.new'}}"><b>Create Pool</b></a>
            </li>
            <li>
              {{> atNavButton}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    {{> Template.dynamic template=content}}
  </div>
</template>
