<template name="App_body">
  <nav class="navbar navbar-default navbar-fixed-top navbar-dark bg-primary">
    <div>
      <button class="navbar-toggler hidden-md-up pull-xs-left btn-primary" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
      </button>
      <a class="navbar-brand" href="/">Wins League</a>
      <div class="pull-xs-right">
        {{> atNavButton}}
      </div>
    </div>
    <div class="collapse navbar-toggleable-xs navbar-toggleable-sm" id="exCollapsingNavbar">
      <div class="bg-inverse p-a-1">
        <ul class="nav navbar-nav">
          {{> Pools_menu}}
          <li class="nav-item {{ActiveRoute.isActiveRoute 'Pools.new'}}">
            <a id="Pools_new_link" class="nav-link hidden-sm-down" href="{{pathFor 'Pools.new'}}"><b>Create Pool</b></a>
            <a id="Pools_new_link" class="nav-link hidden-md-up nav-link-toggle" href="{{pathFor 'Pools.new'}}"><b>Create Pool</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    {{> Template.dynamic template=content}}
    <br/><br/>
  </div>
</template>
