template(name="poolTeamsNew")
  h2 Add Player

  +onlyIfLoggedIn
    if Template.subscriptionsReady
      +autoForm(collection="PoolTeams" id="insertPoolTeamForm" type="insert")
        fieldset
          +afFieldInput(name="leagueId" type="hidden" value="#{leagueId}")
          +afQuickField(name="name")
        button.btn.btn-primary(type="submit") Create

      div league: #{seasonId}
    else
      p Loading...
