template(name="poolTeamsNew")
  h2 Add Player

  +onlyIfLoggedIn
    +autoForm(collection="PoolTeams" id="insertPoolTeamForm" type="insert")
      fieldset
        if Template.subscriptionsReady
          +afFieldInput(name="leagueId" type="hidden" value="#{leagueId}")
        +afQuickField(name="name")
      button.btn.btn-primary(type="submit") Create

    div league: #{seasonId}
