<template name="Pools_pick_quality">
  {{#if Template.subscriptionsReady}}
    <h4 class="Pools_pick_quality">
      <a href="{{pathFor 'Pools.pick-quality' poolId=poolId seasonId=seasonId}}">{{tableTitle}}</a>
    </h4>

    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th class="col-xs-3">Player</th>
          <th class="col-xs-3">Team</th>
          <th class="col-xs-2">Quality</th>
          <th class="col-xs-2">Wins</th>
          <th class="col-xs-2">Expected</th>
        </tr>
        </thead>
        <tbody>
        {{#each poolTeamPick in poolTeamPicks}}
          <tr id="{{poolTeamPick._id}}" class="{{myTeamClass poolTeamPick.poolTeamId}}">
            <td>
              <a href="{{pathFor 'PoolTeams.show' poolId=poolId poolTeamId=poolTeamPick.poolTeamId}}">{{playerName poolTeamPick}}</a>
            </td>
            <td>{{leagueTeamName poolTeamPick.leagueTeamId}} #{{poolTeamPick.pickNumber}}</td>
            <td>{{poolTeamPick.roundedPickQuality}}</td>
            <td>{{poolTeamPick.actualWins}}</td>
            <td>{{poolTeamPick.roundedExpectedWins}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
    <br/>
  {{/if}}
</template>
