<template name="poolsRecords">
  {{#if Template.subscriptionsReady}}
    {{> poolsHeader poolId=poolId }}

    <h3>Records</h3>

    <div class="row">
      <div class="col-md-5">

        {{> poolsRecordsPoolUsersMostAllTime
          poolId=poolId
          recordTitle="Most Wins, All Time"
          metricTitle="Wins"
          metricField="totalWins"
          collectionName="pool_users_most_wins_all_time"
          sort=-1
        }}

        {{> poolsRecordsPoolUsersMostAllTime
          poolId=poolId
          recordTitle="Most Losses, All Time"
          metricTitle="Losses"
          metricField="totalLosses"
          collectionName="pool_users_most_losses_all_time"
          sort=-1
        }}

        {{> poolsRecordsPoolUsersMostAllTime
          poolId=poolId
          recordTitle="Best Point Differential, All Time"
          metricTitle="Point +/-"
          metricField="totalPlusMinus"
          collectionName="pool_users_best_plus_minus_all_time"
          sort=-1
        }}

        {{> poolsRecordsPoolUsersMostAllTime
          poolId=poolId
          recordTitle="Worst Point Differential, All Time"
          metricTitle="Point +/-"
          metricField="totalPlusMinus"
          collectionName="pool_users_worst_plus_minus_all_time"
          sort=1
        }}

      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-5">

        {{> poolsRecordsPoolTeamsMostSeason
          poolId=poolId
          recordTitle="Most Wins, Season"
          metricTitle="Wins"
          metricField="totalWins"
          sort=-1
          tableId="pool_teams_most_wins_season"
        }}

        {{> poolsRecordsPoolTeamsMostSeason
          poolId=poolId
          recordTitle="Most Losses, Season"
          metricTitle="Losses"
          metricField="totalLosses"
          sort=-1
          tableId="pool_teams_most_losses_season"
        }}

        {{> poolsRecordsPoolTeamsMostSeason
          poolId=poolId
          recordTitle="Best Point Differential, Season"
          metricTitle="Point +/-"
          metricField="totalPlusMinus"
          sort=-1
          tableId="pool_teams_best_plus_minus_season"
        }}

        {{> poolsRecordsPoolTeamsMostSeason
          poolId=poolId
          recordTitle="Worst Point Differential, Season"
          metricTitle="Point +/-"
          metricField="totalPlusMinus"
          sort=1
          tableId="pool_teams_worst_plus_minus_season"
        }}

        {{> poolsRecordsPoolTeamPicksMostSeason
          poolId=poolId
          recordTitle="Best Pick Quality, Season"
          metricTitle="Quality"
          metricField="pickQuality"
          sort=-1
          tableId="pool_team_picks_best_pick_quality_season"
        }}

        {{> poolsRecordsPoolTeamPicksMostSeason
          poolId=poolId
          recordTitle="Worst Pick Quality, Season"
          metricTitle="Quality"
          metricField="pickQuality"
          sort=1
          tableId="pool_team_picks_worst_pick_quality_season"
        }}

      </div>
    </div>

    {{> seasonSwitcher
      poolId=poolId
    }}

  {{else}}
    <div>Loading...</div>
  {{/if}}
</template>
