template(name="onlyIfLoggedIn")
  if authInProcess
    p loading ...
  else
    if canShow
      +Template.contentBlock
    else
      p You are not authorized to view this page.
      p Please <a href="/login">login</a> to view this page
