<template name="poolsRecordsPoolUsersMostAllTime">
  <h4>{{recordTitle}}</h4>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Player</th>
          <th>{{metricTitle}}</th>
        </tr>
      </thead>
      <tbody>
      {{#each poolUser in poolUsers}}
        <tr>
          <td>{{poolUser.userTeamName}}</td>
          <td>{{poolUser.metric}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>

  <br/>
</template>
