<template name="poolsRecordsPoolTeamPicksMostSeason">
  <h4>{{recordTitle}}</h4>
  {{#if Template.subscriptionsReady}}
    <div class="table-responsive">
      <table id="{{tableId}}" class="table table-striped table-bordered">
        <thead>
        <tr>
          <th class="col-xs-4 player">Player</th>
          <th class="col-xs-2 metricTitle">{{metricTitle}}</th>
          <th class="col-xs-2">Wins</th>
          <th class="col-xs-4 player">Season</th>
        </tr>
        </thead>
        <tbody>
        {{#each poolTeamPick in poolTeamPicks}}
          <tr id="{{poolTeamPick._id}}">
            <td class="userTeamName">{{playerName poolTeamPick}}</td>
            <td class="metric">{{roundedPickQuality (getMetric poolTeamPick)}}</td>
            <td class="actualWins">{{poolTeamPick.actualWins}}</td>
            <td class="season">{{poolTeamPick.seasonYear}} {{leagueTeamName poolTeamPick.leagueTeamId}} (#{{poolTeamPick.pickNumber}})</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}

  <br/>
</template>
