<template name="intro">
  <h3 class="home">Simple fantasy sports</h3>
  <ol>
    <li>You and your friends each draft a set of teams.</li>
    <li>Follow your teams and their stats throughout the season.</li>
    <li>Whoever has the most total wins by the end is crowned champion!</li>
  </ol>
  <br/>

  <a class="btn btn-primary" href="/sign-up">Create Pool</a>&nbsp;

  <a class="btn btn-default" href="/pools/6Z6QJMFvcgQ2PALsS/seasons/t6bHBR34se99MXgdi">View Demo</a>

  <br/><br/>

  Inspired by Bill Simmons and his post on <a href="http://grantland.com/the-triangle/you-should-have-an-nfl-wins-pool/">Grantland</a>.

</template>
