template(name="poolsNew")
  h2 Create Pool

  +onlyIfLoggedIn
    +autoForm(collection="Pools" id="insertPoolForm" type="insert")
      fieldset
        if Template.subscriptionsReady
          +afQuickField(name="leagueId" options=leagueTeamOptions defaultValue=nflLeagueId)
        +afQuickField(name="name")
      button.btn.btn-primary(type="submit") Create
