<template name="poolsShow">
  {{> poolsHeader }}
  {{#if Template.subscriptionsReady}}
    <h3>Leaderboard</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Player</th>
          <th>Teams</th>
          <th>Wins</th>
          <th>Games</th>
          <th>+/-</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each poolTeam in poolTeams}}
          <tr id="{{poolTeam._id}}">
            <td>{{poolTeam.userTeamName}}</td>
            <td>{{poolTeam.teamSummary}}</td>
            <td>{{poolTeam.totalWins}}</td>
            <td>{{poolTeam.totalGames}}</td>
            <td>{{poolTeam.totalPlusMinus}}</td>
            {{#if editAllowed poolTeam}}
              <td>
                <a href="{{pathFor 'poolTeamsEdit' poolId=poolId poolTeamId=poolTeam._id}}">Edit</a>
              </td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>
    </table>

    {{> seasonSwitcher}}

    {{#if isCommissioner}}
      {{#if isLatestSeason}}
        <a href="{{pathFor 'poolTeamsNew' poolId=poolId}}">Add Player</a>
        <br/>
      {{/if}}
      <a href="{{pathFor 'poolsEdit' _id=poolId}}">Edit Pool</a>
    {{/if}}
  {{else}}
    <div>Loading...</div>
  {{/if}}
</template>
