<template name="poolsEdit">
  {{> poolsHeader }}

  <h3>Edit Pool</h3>

  {{#onlyIfLoggedIn}}
    {{#if Template.subscriptionsReady}}
      {{#autoForm collection="Pools" id="updatePoolForm" doc=poolDoc type="update"}}
        <fieldset>
          {{> afQuickField name="name"}}
        </fieldset>

        <button class="btn btn-primary" type="submit">Save</button>
        &nbsp;
        <a class="btn btn-default" href="{{pathFor 'poolsShow' _id=poolId}}">Back to Pool</a>
        &nbsp;
        {{> autoformModals}}
        {{#afModal class="btn btn-danger" collection="Pools" operation="remove" doc=poolDoc._id}}
          Delete
        {{/afModal}}
      {{/autoForm}}
    {{/if}}
  {{/onlyIfLoggedIn}}
</template>
