<template name="Pools_games_to_watch">
  <h4>Games to watch this week</h4>

  <div class="container">
    <div class="row">
      {{#each game in games}}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          <table class="table borderless">
            <tbody>
            <tr>
              <td class="col-xs-6 {{myTeamClass game.homeTeamId}}">
                {{game.homeTeamName poolId seasonId}}
              </td>
              <td class="col-xs-1 {{myTeamClass game.homeTeamId}}">
                {{#if game.showScore}}
                  {{game.homeScore}}
                {{/if}}
              </td>
              <td class="col-xs-1" rowspan="2">&nbsp;</td>
              <td class="col-xs-4" rowspan="2" style="vertical-align: middle !important;">
                {{game.timeStatus}}
              </td>
            </tr>
            <tr>
              <td class="{{myTeamClass game.awayTeamId}}">
                {{game.awayTeamName poolId seasonId}}
              </td>
              <td class="{{myTeamClass game.awayTeamId}}">
                {{#if game.showScore}}
                  {{game.awayScore}}
                {{/if}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      {{/each}}
    </div>
  </div>

  <table class="table table-striped table-bordered">
    <tbody>
    {{#each poolGameInterestRating in poolGameInterestRatings}}
      <tr>
        <td>
          <b>{{poolGameInterestRating.gameTitle}}</b><br/>
          {{poolGameInterestRating.justification}}<br/>
          {{poolGameInterestRating.gameTime}}<br/>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

  {{#unless currentUser}}
    Login to see your current teams!
  {{/unless}}

  <br/>
</template>
