<template name="Pools_my_games">
  {{#if Template.subscriptionsReady}}
    <h4>My games</h4>

    {{#if currentUser }}
      <table class="table table-striped table-bordered">
        <tbody>
        {{#each game in myGames}}
          <tr>
            <td>
              <table>
                <tbody>
                  <tr>
                    <td>
                      {{game.homeTeamName poolId seasonId}}
                    </td>
                    <td>
                      {{game.homeScore}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {{game.awayTeamName poolId seasonId}}
                    </td>
                    <td>
                      {{game.awayScore}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{else}}
      Login to see your team's games.
    {{/if}}
  {{/if}}
  <br/>
</template>
