<template name="Pools_wins">
  <h3 class="Pools_show">{{{title}}}</h3>

  <div class="table-responsive">
    <table class="table table-striped table-bordered" id="Pools_wins">
      <thead>
        <tr>
          <th class="col-xs-3">Player</th>
          <th class="col-xs-4">Teams</th>
          <th class="col-xs-2">W</th>
          <th class="col-xs-2">GP</th>
          <th class="col-xs-1">+/-</th>
        </tr>
      </thead>
      <tbody>
        {{#each poolTeam in poolTeams}}
          <tr id="{{poolTeam._id}}" class="PoolTeams_row {{myTeamClass poolTeam._id}}">
            <td>
              <a href="{{pathFor 'PoolTeams.show' poolId=poolId poolTeamId=poolTeam._id}}" class="PoolTeams_show">{{poolTeam.userTeamName}}</a>
            </td>
            <td>{{poolTeam.teamSummary}}</td>
            <td>{{poolTeam.totalWins}}</td>
            <td>{{poolTeam.totalGames}}</td>
            <td>{{poolTeam.totalPlusMinus}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <br/>
</template>
