<template name="poolTeamsEdit">
  <h2>Edit Player</h2>

  {{#onlyIfLoggedIn}}
    {{#if Template.subscriptionsReady}}
      {{#autoForm collection="PoolTeams" id="updatePoolTeamForm" type="update" doc=poolTeamDoc}}
        <fieldset>
          {{> afQuickField name="userTeamName"}}
        </fieldset>
        <button class="btn btn-primary" type="submit">Save</button>
      {{/autoForm}}
      <br/>
      <a class="btn btn-default" href="{{pathFor 'poolTeamsShow' poolId=poolId poolTeamId=poolTeamId}}">Back to Player</a>
      &nbsp;
      {{> autoformModals}}
      {{#afModal class="btn btn-danger" collection="PoolTeams" operation="remove" doc=poolTeamDoc._id onSuccess=onRemoveSuccess}}
        Delete
      {{/afModal}}
    {{/if}}
  {{/onlyIfLoggedIn}}
</template>
