<template name="poolTeamsEdit">
  <h2>Edit Player</h2>

  {{#onlyIfLoggedIn}}
    {{#if Template.subscriptionsReady}}
      {{#autoForm collection="PoolTeams" id="updatePoolTeamForm" doc=poolTeamDoc type="update"}}
        <fieldset>
          {{> afQuickField name="userTeamName"}}
          {{> afQuickField name="leagueTeamIds"}}
        </fieldset>
        <button class="btn btn-primary" type="submit">Save</button>
        &nbsp;
        <a class="btn btn-default" href="{{pathFor 'poolsShow' _id=poolId}}">Back to Pool</a>
      {{/autoForm}}
    {{/if}}
  {{/onlyIfLoggedIn}}
</template>
